.mdl-button--colored {
    background-color: #0072c6 !important;
}

.uploadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.linkInput {
    display: flex;
    align-items: center;
    margin-left: 5em;
    flex-grow: 0.7;
}

.linkInput>div {
    max-width: 15em;
}

.uploadSwitch {
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.uploadSwitchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadSwitchContainer:first {
    margin-left: 0 !important;
}

.mdl-switch.is-checked .mdl-switch__track {
    background: #e53835b2 !important;
}

.mdl-switch.is-checked .mdl-switch__thumb {
    background: #E53935 !important;
}

.mdl-switch .mdl-switch__track {
    background: #558B2F !important;
}

.mdl-switch .mdl-switch__thumb {
    background: #689F38 !important;
}

.correctAmountContainer {
    position: relative;
    top: 68px;
    bottom: 0px;
}

.creatorContainer {
    filter: blur(8px);
    transition: 200ms;
    pointer-events: none;
}

.uploadedFiles {
    display: flex;
}


.mainRow {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 3em;
    margin-left: 20%;
    margin-right: 20%;
}

.mainRow > .card{
    margin: 0;
}

.projectStateContainer {
    margin: 0 !important;
    display: flex;
    flex-direction: column;
}

.projectInfoContainer{
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: stretch;
}

.diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.dot-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #a5a5a5;
    margin-right: 10px;
    transition: 500ms;
}

.dot.active {
    background-color: #0072c6;
}

.label.active{
    color: black;
}

.line {
    width: 3px;
    transition: 500ms;
    height: 40px;
    background-color: #a5a5a5;
}

.line.active{
    background-color: #0072c6;
}

.label {
    font-size: 1em;
    color: #a5a5a5;
    text-align: left;
}